@media only screen and (max-width: 600px) {
  .logo-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .logo-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .logo-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}